<body class="gradient-custom"ng-app="myApp">
  <mat-toolbar>
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    <span>VEMS</span>

    <a class="option" mat-button routerLink="/timeTable" >TimeTable</a>
    <a class="option" mat-button routerLink="/booths" >Booths</a>
    <!-- {is_authenticated} -->
    <span  style="flex: 1 1 auto;"></span>
    <a mat-button routerLink="/logIn" routerLinkActive="active" *ngIf="!is_authenticated">
      Login
    </a>
    <a mat-button routerLink="/signUp" routerLinkActive="active" *ngIf="!is_authenticated" >
      Signup
    </a>
    <a mat-button routerLink="/createMeeting" routerLinkActive="active" *ngIf="is_authenticated">
      Create Meeting
    </a>
    <a mat-button *ngIf="is_authenticated" (click)="logout()">
      Logout
    </a>
  </mat-toolbar>  
    <div class="body-container gradient-custom app-container">
      <router-outlet></router-outlet>
    </div>
    
</body>
 
<!--<app-create-meeting></app-create-meeting>-->