<h1>Booths</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Company Name</th>
            <th>Company Email</th>
            <th>Company Booth</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let booth of booths">
            <td>{{booth.company_name}}</td>
            <td>{{booth.company_email}}</td>
            <td><a (click)="Redirect()">
                More Details&raquo;
            </a></td>
        </tr>
        <tr *ngIf="!booths">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>