<h1>Booths</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add Booth</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Company Name</th>
            <th>Company Video</th>
            <th>Company Brochure</th>
            <th>Company Email</th>
            <th>Meet Available?</th>
            <th>Representative Meet</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let booth of booths">
            <td>{{booth.company_name}}</td>
            <td>{{booth.company_video}}</td>
            <td>{{booth.company_brochure}}</td>
            <td>{{booth.company_email}}</td>
            <td>{{booth.is_available_for_one_on_one}}</td>
            <td>{{booth.company_meet}}</td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{booth.boothid}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                <button (click)="deleteBooth(booth.boothid)" class="btn btn-sm btn-danger btn-delete-booth">
                    <!-- <span *ngIf="booth.isDeleting" class="spinner-border spinner-border-sm"></span> -->
                    <span>Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!booths">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>