.wrapper{
    display: inline-block;
    position: relative;
    fill:transparent;
}
.wrapper img{
    display: block;
    max-height: 100%;
    max-width: 100%;
}
.wrapper svg{
    left: 0;
    top: 0;
    position: absolute;
}
.name{
    font-size: 1.5rem;
    transform: rotate(-30deg);
    top: 68%;
    right: 20%;
    position: absolute;
}