/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

html, body {
    min-width: 0 !important;
    overflow: visible !important;
  }
  
  #zmmtg-root {
    display: none;
  }
  
  .error-text {
    font-size: 14px;
    margin-bottom: 0;
    color: red;
  }
  
  body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* Add application styles & imports to this file! */
a { cursor: pointer }

.app-container {
    min-height: 320px;
    overflow: hidden;
}

.btn-delete-booth {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
}